/* Master styles */

body {font-family: Arial, Helvetica, sans-serif}
h1 {font-family: "Gill Sans", sans-serif; font-size: 500%; font-weight: 600; letter-spacing: .1em; color:whitesmoke;}

.body { 
    margin: 0px
    
}

.container { 
    display: grid;
    grid-template-columns: 1fr;
}

/* Nav styles */




.nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-height: 30px;
}

.brand {
    display: flex;
    height: 60px;
    width: 100px;
}

.right-side {
    display: flex;
}
.nav-wrapper > .right-side > div {
    margin-right: 20px;
    font-size: .9em;
    text-transform: uppercase;
}
.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}
.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}


.nav-link-wrapper a:hover {
    color: black;
}

.hero-wrapper {
height: 600px;
width: auto;
}

.hero-img-background {
height: 600px;
width: 100%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

   

button {
    float: right;
    
    padding: 15px;
    margin-right: 40px;
    margin-top: 450px;
    background-color: #6a6a6d;
    color: white;
    font-size: 15px;
    border-radius: 4px;
  }

button:hover {background-color: rgb(27, 27, 27);}

/* Portfolio styles */
.portfolio-items-wrapper {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    background-color:#d7dadd;
    padding-top: 110px;
    padding-bottom: 40px;
}
.portfolio-item-wrapper {
    position: relative;
}
.portfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}
.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img {
    width: 50%;
    
}

.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: rgb(145, 219, 216);
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

/*media query for identify work section  .scale {width:75%; height:auto;*/
@media only screen and (max-width: 600px) {
    .portfolio-items-wrapper {
      grid-template-rows: repeat(3, auto);}
    .portfolio-item-wrapper {
      grid-column: span 3;}
    }

/* Footer styles */
.footer-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 38px;
    max-height: 40px;
}


.footer-wrapper {
    margin-right: 20px;
    font-size: .9em;
    text-transform: uppercase;
}
.footer-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.footer-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}
.footer-link-wrapper:hover {
    border-bottom: 1px solid black;}

.footer-link-wrapper a:hover {
    color: black;
}
/* Skills page styles */

.banner-container {
    width: auto;
    height: 300px;
    background-image: url("../images/clark-van-der-beken-Tk0B3Dfkf_4-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: unset;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
}



.mySkills-Grid-Container {
    display:grid;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;  
    align-content: center;
    justify-content: center;
    justify-items: center;
}



.mySkills-Grid-Container {
   padding-top: 4%;
   padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
    background-color:#9ea1a5;
    
}
.skills-content {
    grid-column-start: 2;
    grid-column-end: 4;
    color:linen;
    height: auto;
    padding-right: 15%;
    padding-left: 15%;
    border-style:solid;
    border-color:linen;
    border-radius: 15px;
    
    text-align: left;
}

/*media query for identify work section  .scale {width:75%; height:auto;*/
    @media only screen and (max-width: 600px) {
        .mySkills-Grid-Container {
        grid-template-rows: repeat(6, auto);}
        .skills-content {
          grid-column: span 3;}
        .skills-image {
        grid-column: span 3;}
        }